<!doctype html>
<html lang="{{ page.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="XCwV8oFAXeRZ88WgYrqteYkO7TMW1A7jRjyJZPbKAxQ">
    {% include seo.html %}
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  </head>
  <body>
    {% include site-header.html %}
    <main>
      {{ content }}
    </main>
    {% include site-footer.html %}
  </body>
</html>
